body {
    white-space: pre-wrap;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    color: #202020;
}

.top-div {
    position: absolute;
    top: 24px;
    left: 24px;
    right: 24px;
    bottom: 24px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 24px 24px 24px auto;
}

.top-div div {
    vertical-align: top;
}

.below-title {
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: auto;
    overflow: hidden;
}

.sidebar {
    width: 168px;
    height: 100%;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.content {
    min-height: 480px;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.task-area {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    height: 100%;
}

.task-list {
    display: grid;
    grid-template-rows: auto 24px 24px;
    grid-template-columns: auto;
}

.pending-tasks {
}

.done-tasks {
}

.task-details {
    height: 100%;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}



/* border box */
.border-box-outer {
    border-width: 1px;
    border-style: solid;
    border-color: #202020;
    margin: 10px 2px 10px 2px;
    padding: 2px;
    position: relative;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

.border-box-inner {
    border-width: 1px;
    border-style: solid;
    border-color: #202020;
    margin: 0;
    padding: 10px 4px 10px 4px;
    position: relative;
}

.border-box-title {
    position: absolute;
    display: inline-block;
    top: -14px;
    left: 4px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}



.task-details-container {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 24px 24px 24px auto 24px;
}



.settings-area {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 96px 96px;
}



.input-multiline {
    white-space: pre-wrap;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    padding: 0;
    margin: 0;
    border: none;
    color: #202020;
    display: block;
    width: 100%;
    height: 100%;
    resize: none;
}



.button-dos {
    display: inline-block;
}



.button-disabled {
    color: #AAAAAA
}

.new-task-input {
    white-space: pre-wrap;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    padding: 0;
    margin: 0;
    border: none;
    height: 24px;
    color: #202020;
}

.clickable:hover {
    background-color: magenta;
    cursor: pointer;
}

.horizontal-separator {
    overflow: hidden;
}
